/* :root{
    --header-color: #16212e;
    --header-text-color: #aab1c0;
    --header-text-color-hover: white;
    --header-menu-mobile: #414b58;
    --section1-bg: #16212e;
    --section2-bg: #414b58;
    --section2-card-bg: #b3b3b3;
    --section3-bg: #16212e;
    --section4-bg: #1b1a24;
    --footer-bg: black;
    --text-color: #fff;
} */

:root{
    --header-color: #0e1111;
    --header-text-color: #aab1c0;
    --header-text-color-hover: white;
    --header-menu-mobile: #414b58;
    --section1-bg: #0e1111;
    --section2-bg: #232b2b;
    --section2-card-bg: #414a4c;
    --section3-bg: #3b444b;
    --section4-bg: #232b2b;
    --footer-bg: black;
    --text-color: #fff;
} 

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mingzat', sans-serif;
}

html, body {
    height:100%;
}

/* Utilities */

.clear{
    clear: both;
}

.slick-dots li button:before {
    color: #ccc;
}

.slick-dots li.slick-active button:before {
    color:white !important;
}

.slick-prev:before,
.slick-next:before{
    font-size: 30px;
    color: white;
}

.hideme{
    opacity: 0;
}

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #303030;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #636363;
    border-radius: 10px;
    border: 3px solid #000000;
  }

/* .container{
    max-width:1200px;
    padding: 0 2%;
} */

/* Header */

header{
    background-color: var(--header-color);
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 3;
}

header nav{
    width: 100%;
}

header nav ul.menu-desktop{
    display:flex;
    height: 80px;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

header nav ul.menu-desktop li a{
    color: var(--header-text-color);
    text-decoration: none;
}

header nav ul.menu-desktop li a:hover{
    opacity: 1;
    color: var(--header-text-color-hover);
    text-decoration: none;
}

.menu-mobile{
    display:none;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    list-style-type: none;
    padding: 0;
    z-index: 2;
}

.menu-mobile li{
    background-color: var(--header-menu-mobile);
    line-height: 30px;
    color: var(--text-color);
    text-align: center;
    border-bottom: white 1px solid;
}

.menu-mobile li a{
    display: block;
    text-decoration: none;
    padding: 10px 0;
    color: var(--text-color);
}

.menu-mobile li a:hover{
    text-decoration: underline;
}

#trigger-mobile-menu{
    display: none;
    float: right;
    line-height: 80px;
    cursor: pointer;
}

#trigger-mobile-menu img{
    width: 40px;
    height: 40px;
}

/* Section Quem Somos */

#Home{
    background-color: var(--section1-bg);
    height: 100vh;
    display: grid;
    place-content: center;
}

.header-text-section-quem-somos{
    text-align: center;
    color: var(--text-color);
    letter-spacing: 3px;
}

.img-quem-somos{
    width: 80%;
    border-radius: 20px;
    animation-name: img-animation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

/* Section Projetos */

#Projetos{
    padding: 0px 0px 60px 0px ;
    background-color: var(--section2-bg);
}

.background-text-section{
    background: var(--section1-bg); /* fallback */
    background:
        -moz-linear-gradient(45deg,  transparent 10px, var(--section1-bg) 10px),
        -moz-linear-gradient(40deg, transparent 10px, var(--section1-bg) 10px),
        -moz-linear-gradient(225deg, transparent 10px, var(--section1-bg) 10px),
        -moz-linear-gradient(315deg, transparent 10px, var(--section1-bg) 10px);
    background:
        -o-linear-gradient(45deg,  transparent 10px, var(--section1-bg) 10px),
        -o-linear-gradient(40deg, transparent 10px, var(--section1-bg) 10px),
        -o-linear-gradient(225deg, transparent 10px, var(--section1-bg) 10px),
        -o-linear-gradient(315deg, transparent 10px, var(--section1-bg) 10px); 
    background:
        -webkit-linear-gradient(29deg,  transparent 43px, var(--section1-bg) 46px),
        -webkit-linear-gradient(151deg, transparent 43px, var(--section1-bg) 46px),
        -webkit-linear-gradient(153deg, transparent 27px, var(--section1-bg) 30px),
        -webkit-linear-gradient(27deg, transparent 27px, var(--section1-bg) 30px);
    background-position: bottom left, bottom right, top right, top left;
    -moz-background-size: 50% 50%;
    -webkit-background-size: 50% 50%;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    text-align: center;
    color: var(--text-color);
    font-size: 2.8rem;
    width: 360px;
    margin: 0 auto;
}

.card{
    padding:15px 35px;
    border-radius: 15px;
    background-color: var(--section2-card-bg);
}

.card-img-top img{
    width: 100%;
    height: 250px;
    object-fit: fill;
    margin-left: 10px;
    border-radius: 5px;
}

/* Section Depoimentos */

#Depoimentos{
    background-color: var(--section3-bg);
    padding-bottom: 60px;
}

.background-text-section-projeto{
    background: var(--section2-bg); /* fallback */
    background:
        -moz-linear-gradient(45deg,  transparent 10px, var(--section2-bg) 10px),
        -moz-linear-gradient(40deg, transparent 10px, var(--section2-bg) 10px),
        -moz-linear-gradient(225deg, transparent 10px, var(--section2-bg) 10px),
        -moz-linear-gradient(315deg, transparent 10px, var(--section2-bg) 10px);
    background:
        -o-linear-gradient(45deg,  transparent 10px, var(--section2-bg) 10px),
        -o-linear-gradient(40deg, transparent 10px, var(--section2-bg) 10px),
        -o-linear-gradient(225deg, transparent 10px, var(--section2-bg) 10px),
        -o-linear-gradient(315deg, transparent 10px, var(--section2-bg) 10px); 
    background:
        -webkit-linear-gradient(29deg,  transparent 43px, var(--section2-bg) 44px),
        -webkit-linear-gradient(151deg, transparent 42px, var(--section2-bg) 45px),
        -webkit-linear-gradient(153deg, transparent 27px, var(--section2-bg) 29px),
        -webkit-linear-gradient(27deg, transparent 27px, var(--section2-bg) 29px);
    background-position: bottom left, bottom right, top right, top left;
    -moz-background-size: 50% 50%;
    -webkit-background-size: 50% 50%;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    text-align: center;
    color: var(--text-color);
    font-size: 2.8rem;
    width: 480px;
    margin: 0 auto;
}

.depoimentos{
    width: 80%;
    margin: 80px auto 0px auto;
    padding-bottom: 80px;
}

.depoimento-item{
    text-align: center;
}

.depoimento-item h4{
    color: var(--text-color);
}

.depoimento-item p{
    color: var(--text-color);
    flex-wrap: wrap;
}

.depoimento-header{
    display: flex;
    justify-content: center;
}

.depoimento-header h4{
    margin-right:15px;
}

.depoimento-header p{
    margin-right:10px;
}

.languages{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

.languages p{
    padding: 8px;
    margin-right: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

/* Section Contato */

#Contato{
    height: 80vh;
    background-color: var(--section4-bg);
}

.background-text-section-contato{
    background: var(--section3-bg); /* fallback */
    background:
        -moz-linear-gradient(45deg,  transparent 10px, var(--section3-bg) 10px),
        -moz-linear-gradient(40deg, transparent 10px, var(--section3-bg) 10px),
        -moz-linear-gradient(225deg, transparent 10px, var(--section3-bg) 10px),
        -moz-linear-gradient(315deg, transparent 10px, var(--section3-bg) 10px);
    background:
        -o-linear-gradient(45deg,  transparent 10px, var(--section3-bg) 10px),
        -o-linear-gradient(40deg, transparent 10px, var(--section3-bg) 10px),
        -o-linear-gradient(225deg, transparent 10px, var(--section3-bg) 10px),
        -o-linear-gradient(315deg, transparent 10px, var(--section3-bg) 10px); 
    background:
        -webkit-linear-gradient(29deg,  transparent 43px, var(--section3-bg) 46px),
        -webkit-linear-gradient(151deg, transparent 43px, var(--section3-bg) 46px),
        -webkit-linear-gradient(153deg, transparent 27px, var(--section3-bg) 30px),
        -webkit-linear-gradient(27deg, transparent 27px, var(--section3-bg) 30px);
    background-position: bottom left, bottom right, top right, top left;
    -moz-background-size: 50% 50%;
    -webkit-background-size: 50% 50%;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    text-align: center;
    color: var(--text-color);
    font-size: 2.8rem;
    width: 360px;
    margin: 0 auto;
}

.form-contact{
    margin: 100px auto 0px auto;
    max-width: 700px;
    width: 100%;
}

.button-cta {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Trebuchet MS;
	font-size:20px;
	font-weight:bold;
	padding:11px 76px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.button-cta:hover {
	background:linear-gradient(to bottom, #aab1c0 5%, #ededed 100%);
	background-color:#aab1c0;
}
.button-cta:active {
	position:relative;
	top:1px;
}

/* Footer */

footer{
    text-align: center;
    height: 11.8vh;
    background-color: var(--footer-bg);
    color: var(--text-color);
    display: grid;
    place-content: center;
}

/* Animations */

.heartbeat {
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        animation: heartbeat 1.5s ease-in-out infinite both;
}

@keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }

/* Media queries */
@media screen and (max-width: 768px){
    .menu-desktop{
        display:none!important;
    }

    #trigger-mobile-menu{
        display: block;
    }

    .img-quem-somos{
        width: 50%;
        border-radius: 20px;
        animation-name: none;
    }

    .img-turn-left{
        transform: rotateZ(0deg)
    }
    
    .img-turn-right{
        transform: rotateZ(0deg)
    }

    .background-text-section{
        background:
        -webkit-linear-gradient(29deg,  transparent 43px, var(--section1-bg) 46px),
        -webkit-linear-gradient(151deg, transparent 43px, var(--section1-bg) 46px),
        -webkit-linear-gradient(153deg, transparent 27px, var(--section1-bg) 30px),
        -webkit-linear-gradient(27deg, transparent 27px, var(--section1-bg) 30px);
        font-size: 2rem;
        width: 280px;
        margin: 0 auto;
    }

    .background-text-section-projeto{
        background:
        -webkit-linear-gradient(29deg,  transparent 43px, var(--section2-bg) 44px),
        -webkit-linear-gradient(151deg, transparent 42px, var(--section2-bg) 45px),
        -webkit-linear-gradient(153deg, transparent 27px, var(--section2-bg) 29px),
        -webkit-linear-gradient(27deg, transparent 27px, var(--section2-bg) 29px);
        background-position: bottom left, bottom right, top right, top left;
        font-size: 1.7rem;
        width: 280px;
        margin: 0 auto;
    }
}